<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Campy" version="0.0.13" targetFramework="net471" />
  <package id="Microsoft.NETCore.Platforms" version="1.1.0" targetFramework="net471" />
  <package id="Mono.Cecil" version="0.10.0" targetFramework="net471" />
  <package id="NETStandard.Library" version="2.0.0" targetFramework="net471" />
  <package id="swigged.cuda" version="9.185.8" targetFramework="net471" />
  <package id="swigged.llvm" version="6.0.6" targetFramework="net471" />
</packages>